GROQ_API_KEY=
GUPSHUP_API_KEY=
GUPSHUP_APP_NAME=OpenworldX
GUPSHUP_APP_ID=ff82cf2c-60fc-4a2b-a112-514404e3cb81
GUPSHUP_SOURCE=
META_ACCESS_TOKEN=
META_PHONE_NUMBER_ID=117990037480549911
META_WABA_ID=3357568674418002
META_VERIFY_TOKEN=mira-openworld-meta-verify
META_GRAPH_VERSION=v22.0
